
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{user/layout_user}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Khăn choàng</title>


</head>

<body>
<section layout:fragment="content">
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/home"><i class="fa fa-home"></i> Trang chủ</a>
                        <span>Đổi mật khẩu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Profile Section Begin -->
    <section class="profile p-3">
        <div class="container rounded bg-white mt-3 mb-3">
            <form th:action="@{doimatkhau/${session.authenuser.id}}" method="post" id="change_password">
                <div class="py-5">
                    <h2 class="font-weight text-center"><strong>Đổi mật khẩu</strong></h2>
                </div>
                <div class="row">
                    <div class="col-md-4 border-right">
                        <div class="d-flex flex-column align-items-center text-center px-3 ">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <input type='file' id="imageUpload" name="avatar" accept=".png, .jpg, .jpeg" />
                                    <label for="imageUpload"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview" style="background-image: url('static/avatar/${sessionScope.account.avatar}');">
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <label class="h3" th:text="${session.authenuser.getCustomer().name}"> <strong></strong> </label>
                                </div>
                            </div>
                            <div class="mb-5 text-left">
                                <nav class="nav flex-column">
                                    <a class="nav-link active" aria-current="page" href="/profile"><i class="fa fa-drivers-license-o"></i>&nbsp; Thông tin</a>
                                    <a class="nav-link" href="/order_status"><i class="fa fa-shopping-bag"></i>&nbsp; Đơn hàng</a>
                                    <a class="nav-link" href="/shop/change_password"><i class="fa fa-key"></i>&nbsp; Đổi mật khẩu</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 border-right">
                        <div class="p-3 pb-5">
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">Tên tài khoản</label>
                                <input name="username" type="text" class="form-control" th:value="${session.authenuser.email}" placeholder="Hãy nhập tên tài khoản" disabled/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">Mật khẩu</label>
                                <input th:name="password" type="password" class="form-control" placeholder="Hãy nhập mật khẩu" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">Mật khẩu mới</label>
                                <input name="newpassword" type="password" class="form-control" placeholder="Hãy nhập mật khẩu mới" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">Xác nhận mật khẩu mới</label>
                                <input name="newconfirm" type="password" class="form-control" placeholder="Hãy nhập xác nhận mật khẩu mới" />
                            </div>
                            <div class="mt-4">
                                <button class="btn btn-primary profile-button" type="submit">Cập nhật</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>





</section>
</body>

</html>