<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{admin/layout}">

<head>
  <title>Home</title>
</head>

<body layout:fragment="content">
  <div class="container-fluid">
    <div class="row">
      <!-- Sales Card -->
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card sales-card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>
              <li><a class="dropdown-item" onclick="getToDayTotalProductSale()">Hôm nay</a></li>
              <li><a class="dropdown-item" onclick="getThisMouthTotalProductSale()">Tháng này</a></li>
              <li><a class="dropdown-item" onclick="getThisYearTotalProductSale()">Năm nay</a></li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">Sản Phẩm Đã Bán <span id="filterTotalSalesProduct"></span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-cart"></i>
              </div>
              <div class="ps-3">
                <h6 id="totalSalesProduct"></h6>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Sales Card -->
      <!-- Revenue Card -->
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card revenue-card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>
              <li><a class="dropdown-item" onclick="getToDayToTalIncome()">Hôm nay</a></li>
              <li><a class="dropdown-item" onclick="getThisMouthToTalIncome()">Tháng này</a></li>
              <li><a class="dropdown-item" onclick="getThisYearToTalIncome()">Năm nay</a></li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">Doanh Thu<span id="filterTotalSalesIncome"></span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-currency-dollar"></i>
              </div>
              <div class="ps-3">
                <h6 id="totalSalesIncome">
                </h6>
                <span class="text-success small pt-1 fw-bold" id="incomegrow"></span>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Revenue Card -->
      <!-- Customers Card -->
      <div class="col-xxl-4 col-xl-12">
        <div class="card info-card customers-card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>
              <li><a class="dropdown-item" onclick="getToDayTotalBill()">Hôm nay</a></li>
              <li><a class="dropdown-item" onclick="getThisMouthTotalBill()">Tháng này</a></li>
              <li><a class="dropdown-item" onclick="getThisYearTotalBill()">Năm nay</a></li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">Hóa Đơn Mới<span id="filterTotalSalesBill"></span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-cash-coin"></i>
              </div>
              <div class="ps-3">
                <h6 id="totalSalesBill"></h6>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Customers Card -->
      <!-- Sản Phẩm Bán Chạy -->
      <div class="col-12">
        <div class="card top-selling overflow-auto">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>
              <li><a class="dropdown-item" onclick="getToDayTopProductSale()">Hôm nay</a></li>
              <li><a class="dropdown-item" onclick="getThisMouthTopProductSale()">Tháng này</a></li>
              <li><a class="dropdown-item" onclick="getThisYearTopProductSale()">Năm nay</a></li>
            </ul>
          </div>
          <div class="card-body pb-0" style="min-height: 200px;">
            <h5 class="card-title">Sản Phẩm Bán Chạy <span id="filterTopProductSales"></span></h5>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Sản Phẩm</th>
                  <th scope="col">Giá</th>
                  <th scope="col">Số lượng đã bán</th>
                  <th scope="col">Doanh thu</th>
                </tr>
              </thead>
              <tbody id="topProductSales">
              </tbody>
            </table>
          </div>
        </div>
      </div><!-- End Sản Phẩm Bán Chạy -->
      <!-- Char  -->
      <div class="col-12 bg-light">
        <div class="card top-selling overflow-auto">
          <h5 class="card-title mx-3">Doanh thu <span id="fillterforchar">| Hôm nay</span></h5>
          <div>
            <ul class="nav nav-tabs" id="navtab-char">
              <li class="nav-item">
                <button class="nav-link char-cate active" onclick="selectChar(this, 1)">Theo giờ</button>
              </li>
              <li class="nav-item">
                <button class="nav-link char-cate" onclick="selectChar(this ,2)">Theo Thứ</button>
              </li>
              <li class="nav-item">
                <button class="nav-link char-cate" onclick="selectChar(this,3)">Theo ngày</button>
              </li>
            </ul>
          </div>
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>
              <li><a class="dropdown-item" onclick="updatetimetype(this,1)">Hôm nay</a></li>
              <li><a class="dropdown-item" onclick="updatetimetype(this,2)">Hôm qua</a></li>
              <li><a class="dropdown-item" onclick="updatetimetype(this,3)">Tuần này</a></li>
              <li><a class="dropdown-item" onclick="updatetimetype(this,4)">Tuần trước</a></li>
              <li><a class="dropdown-item" onclick="updatetimetype(this,5)">Tháng nay</a></li>
              <li><a class="dropdown-item" onclick="updatetimetype(this,6)">Tháng trước</a></li>
              <!-- <li><a class="dropdown-item" onclick="getFiveYearLastIncomeChart()">5 năm</a></li> -->
            </ul>
          </div>
          <div class="card-body pb-0" style="min-height: 200px;">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
      <!-- Char  end -->
      <!-- Hóa Đơn Mới -->
      <div class="col-12">
        <div class="card recent-sales overflow-auto">
          <div class="card-body">
            <h5 class="card-title">Hóa Đơn Mới</h5>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Khách Hàng</th>
                  <th scope="col">Mã Hóa Đơn</th>
                  <th scope="col">Tổng Bill</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody id="resentBillTable">
                <tr th:each="bill : ${resentBill}">
                  <th scope="row"><a th:href="@{${'/admin/bill/bill-detail?id=' + bill.id}}" th:text="${bill.code}"></a>
                  </th>
                  <td th:text="${bill.customer?.name}"></td>
                  <td th:text="${bill.code}"></td>
                  <td
                    th:text="${#strings.replace(#numbers.formatDecimal(bill.deposit, 0, 'COMMA', 2, 'POINT'), '.00', '')} + ' VNĐ'">
                  </td>
                  <td th:utext="${convert.statusOfBill(bill.status)}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div><!-- End Hóa Đơn Mới -->
    </div>
  </div>
  <script th:src="@{/assets/js/thongke/dashboarhthongke.js}"></script>
</body>

</html>
